<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>${title}</title>
    <meta name="author" content="Joey Guerra" />
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>

    <!-- Header -->
    <header>
        <div class="container nav">
            <div>
                <a href="/" title="CoppellForNewTech.org" class="logo-link">
                    <img src="logo.png" alt="Logo" class="logo">
                    <strong style="margin-left: 0.5rem;">CoppellForNewTech.org</strong>
                </a>
            </div>
            <button class="hamburger" id="hamburger" aria-label="Open menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <nav class="nav-links" id="navLinks">
                <a href="/#mission">Our Story</a>
                <a href="/#crisis">The Crisis</a>
                <a href="/#involved">Get Involved</a>
                <a href="/#about">About New Tech @ Coppell</a>
                <a href="/cerc-insights.html">CERC Key Insights</a>
            </nav>
        </div>
    </header>
    <!-- Hero -->
    <section class="hero">
        <h1>Stand Up for Public Education in Coppell</h1>
        <p>Coppell ISD is closing schools. We're trying to innovate our way out of this budget crisis. For New Tech, for
            our students, for their future.</p>
        <a class="button" style="background: transparent; color: #0056b3; border: 2px solid #0056b3; margin-left: 1rem;"
            href="/#mission">Read Our Story</a>
    </section>
    ${body}
    <!-- Footer -->
    <footer>
        <p>CoppellForNewTech.org • Grassroots for Public Education</p>
        <p>Email: info@coppellfornewtech.org</p>
        <p>© 2025 Grassroots Coppell Education Alliance</p>
    </footer>

</body>
<script src="/js/index.mjs" type="module"></script>

</html>