<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <base href="./" />
  <title>New Tech 2025 Budget Metting Discussion</title>
  <meta name="author" content="Joey Guerra" />
</head>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Support New Tech High @ Coppell</title>
  <style>
    body { font-family: Arial, sans-serif; line-height: 1.6; margin: 0; padding: 2rem; background: #f8f8f8; }
    header { background: #004080; color: white; padding: 1rem; text-align: center; }
    section { background: white; padding: 1rem 2rem; margin: 1rem 0; border-radius: 8px; box-shadow: 0 2px 5px rgba(0,0,0,0.1); }
    ul { padding-left: 1.2rem; }
    li { margin-bottom: 0.5rem; }
    footer nav a {display: block;}
  </style>
</head>
<body>
  <header>
    <h1>Support New Tech High @ Coppell</h1>
  </header>
  ${body}
  <footer>
    <h1>Informational Links</h1>
    <nav>
        <a href="https://en.wikipedia.org/wiki/New_Tech_High_School_at_Coppell" title="New Tech High at Coppell on Wikepidia">New Tech High at Coppell on Wikepidia</a>
        <a href="https://starlocalmedia.com/coppellgazette/news/coppell-isd-review-committee-suggests-additional-school-closures-after-2025-26/article_c09213c5-f88f-4045-a08b-750ea919cae5.html" title="Coppell ISD Review Committee Suggests Additional School Closures After 2025-26">Coppell ISD Review Committee Suggests Additional School Closures After 2025-26</a>
        <a href="https://coppellchronicle.substack.com/p/coppell-chronicle-vol-5-no-13" title="Coppell Chronicle Vol 5 No 13">Coppell Chronicle Vol 5 No 13</a>
        <a href="https://www.instagram.com/newtechhighcoppell/" title="New Tech High Coppell on Instagram">New Tech High Coppell on Instagram</a>
        <a href="https://coppellstudentmedia.com/132204/news/new-tech-students-advocating-for-schools-future/" title="New Tech Students Advocating for School's Future">New Tech Students Advocating for School's Future</a>
        <a href="https://www.instagram.com/p/DHGcqvcORC1/?igsh=MTBhdW80dzE4azJiag%3D%3D" title="New Tech High School Water Resources Research Project">New Tech High School Water Resources Research Project</a>
        <a href="https://www.facebook.com/SaveNewTech/" title="Save New Tech High School on Facebook">Save New Tech High School on Facebook</a>
    </nav>
  </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" id="HotReloader">
  import { HotReloader } from '/js/HotReloader.mjs'
  const hotReloader = new HotReloader(window, io('/hot-reload'))
</script>
</html>